v02/xsd-schemas/cars.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="cars" type="cars"/>
	<xs:element name="car" type="car"/>
	
	<xs:complexType name="cars">
		<xs:sequence>
			<xs:element ref="car" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="car">
		<xs:sequence>
			<xs:element name="id" type="xs:int"/>
			<xs:element name="carTypeId" type="xs:int"/>
			<xs:element name="govNumber" type="xs:string"/>
			<xs:element name="running" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>