v02/xsd-schemas/types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="carTypes" type="carTypes"/>
	<xs:element name="carType" type="carType"/>
	
	<xs:complexType name="carTypes">
		<xs:sequence>
			<xs:element ref="carType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="carType">
		<xs:sequence>
			<xs:element name="id" type="xs:int"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="seatCap" type="xs:int"/>
			<xs:element name="massCap" type="xs:int"/>
			<xs:element name="costPerKm" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>